@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(25, 109, 109);
}

h1{
    text-align: center;
    color: white;
    font-size: 50px;
    padding: 20px;
}

div{
    background-color: white;
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 20px;
}

div > p{
    padding: 30px;
    font-size: 30px;
}

input{
    padding: 10px;
    font-size: 15px;
}

button{
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;    
}

.msg{
    margin: 10px;
}

footer{
    text-align: center;
    padding: 10px;
}

footer > p > a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

footer > p > a:hover{
    text-decoration: underline;
    color: rgb(197, 196, 196);
    font-size: 20px;
    font-weight: bolder;
}