@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font: normal 15pt Arial;
}
body{
    background-color: rgb(103, 204, 204);

}
header{
    color: white;
    text-align: center;
    margin: 20px;
}
header > h1{
    font-size: 30px;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);
}

section > div > p{
    padding: 5px;

}
div#res{
    text-align: center;
}

footer{
    color: rgb(216, 168, 168);
    text-align: center;
    padding: 10px;
}

footer > p > a{
    color: white;
    font-style: italic;
    text-decoration: none;
}
footer > p> a:hover{
    color: rgb(124, 119, 119);
}